/* Custom Properties */
/* ----------------- */

/* Colors */
/* Account for dark mode. */
:root {
    color-scheme: light dark;
    --dark: rgba(0, 0, 0, 0);
    --light: rgba(255, 255, 255, 0.863);
    --gldark:#585858;
    --gllight: #C1C1C1;
    --lwlight: #1D1D1D;
    --hilight: #E2E1E1;
  }

/* Body Set Up */
body {
  font-family: "Neuton", serif;
  font-size: 1.25rem;
  background-image: url(images/background.png);
  color: light-dark(--light, --dark);
  background-color: light-dark(--dark, --light);
  line-height: 1.5;
  min-height: 100vh;
}

/* Typeface */
h1,h2,h3,h4,h5,h6 {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}

h1,h2,h3 {
    letter-spacing: .05em;
    line-height: 2em;
}

h1 { font-size: 6vw;}
h2 { font-size: 3vw;}
h3 { font-size: 2vw;}
h4 { font-size: 1em;}
h5 { font-size: .75em;}
h6 { font-size: .5em;}


/* Components */
/* ----------------- */
.site-nav ul {
  list-style-type: none;
  width: max-content;
  height: 45px;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--lwlight);
  border: 3px solid;
  border-color: var(--hilight);
}
.site-nav li {
  float: left;
}
.site-nav a {
  display: block;
  width: 128px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  font-family: "Almendra SC", serif;
  font-size: .75em;
  text-align: center;
  color: var(--hilight);
  background-color: var(--lwlight);
  border: 3px solid;
  border-color: var(--hilight);
}

.underline-indicators > * {
  padding: 0;
  border: 0;
  cursor: pointer;
  border-bottom: .2rem solid hsl( var(--dark) / 0 );
}
.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl( var(-dark) / .5 );
}
.underline-indicators > *:active,
.underline-indicators> [aria-selected="true"] {
  color: hsl( var(NAME) / 1 );
  border-color: hsl( var(-dark) / 1 );
}

.dot-indicators > [aria-selected="true"] {
  background-color: hsl( var(--light) / 1 );
}
.dot-indicators > * {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5rem;
  background-color: hsl( var(NAME) / .25 )
}
.dot-indicators > *:hover,
.dot-indicators > *:focus {
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  aspect-ratio: 1;
  padding: .5rem;
  background-color: hsl( var(NAME) / .5 )
}


/* Reset --DON'T TOUCH*/
/* ----------------- */

/* Box Sizing */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reset Margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}


  
  /* Simplify Images */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* Simplify Form Elements */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* Remove animations by setting */
  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
  }
/* Utility Classes */
/* ----------------- */
.uppercase { text-transform: uppercase; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line*/
  border: 0;
}
